:root {
    --violet: blueviolet;
    --violetDark: rgb(101, 33, 165);
    --backgroundDark: rgb(24, 26, 27);
    --backgroundWhite: rgb(220, 220, 220);
    --padding-container-w: 200px;
    --padding-container-h: 12px;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    color: white;
    background-color: var(--backgroundDark);
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

ul {
    list-style: none;
}

li {
    font-size: 1.25em;
}

button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: var(--violet);
}

button:hover {
    background-color: var(--violetDark);
}

.color-acento {
    color: #8b30e3;
}

.container {
    max-width: 1400px;
    margin: auto;
}

header {
    color: black;
    background-color: rgb(245, 245, 245, 245);
}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: var(--violet);
    font-size: 1.6em;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover {
    color: var(--violet);
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("media/Creek.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1 {
    color: white;
}

#hero button {
    font-size: 1.75em;
}


#somos-viya .container {
    text-align: center;
    padding: calc(var(--padding-container-w)/2) var(--padding-container-h);
}

#places {
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#places .container {
    padding: 100px 12px;
}

#places h2 {
    margin-top: 0;
    font-size: 3.2em;
}

#places p {
    display: none;
}

#places .carta {
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
    /*display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;*/
}


#places .carta:hover {
    border: 2px solid #8b30e3;
}


.carta:first-child {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("media/Beach.jpg");

}

.carta:nth-child(2) {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("media/Mountain.jpg");
}

.carta:nth-child(3) {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("media/City.jpg");

}

#caracteristicas .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: var(--padding-container-w) var(--padding-container-h);
}

#caracteristicas ul {
    width: max-content;
    padding-left: 0;
}

#caracteristicas li {
    font-weight: bold;
    width: max-content;
    margin: 20px 0;

}

#caracteristicas li:hover {

    color: #8b30e3;
}

#final {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(30, 30, 30);
    height: 80vh;
    margin-bottom: 0;
}

#final h2 {
    font-size: 9vw;
}

#final button {
    font-size: 5vw;
}

footer {
    background-color: rgb(230, 230, 230);

}

footer .container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer p {
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
    font-weight: 700;
}

@media (min-width:720px) {
    header {
        position: fixed;
        width: 100%;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #somos-viya .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    #somos-viya .img-container {
        background-image: url("media/BlueLake.jpg");
        background-size: cover;
        background-position: center center;
        height: 50vh;
        width: 100%;

    }

    #somos-viya .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 50vh;
    }


    #places .places-to-visit {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #places p {
        display: block;
    }

    #places .carta {
        padding: 30px;
        background-size: 100% 100px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgb(50, 50, 50, 0.3);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }

    #places .carta h3 {
        margin-top: 0;
        margin-bottom: 50px;

    }

    #places .carta button {
        text-wrap: nowrap;
    }

    .carta:first-child {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("media/Beach-cropped.jpg");

    }

    .carta:nth-child(2) {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("media/Mountain-cropped.jpg");
    }

    .carta:nth-child(3) {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("media/City-cropped.jpg");

    }

    #caracteristicas {
        background-image: url(media/River.jpg);
        background-repeat: no-repeat;
        background-size: 50vw 60vh;
        background-position: calc(100vw / 2 - 10vw) 10vh;
        margin-right: 5vw;
    }

    #caracteristicas .container {
        display: block;
        text-align: initial;
    }

    #caracteristicas ul {
        margin-left: 5.5vw;
        margin-right: 5.5vw;
    }

    #final h2 {
        font-size: 5em;
    }

    #final button {
        font-size: 2em;
    }

    footer .container {
        justify-content: flex-end;
    }

}